
    <!-- Meta -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Joseph DELNORD" />
    <meta name="publisher" content="Joseph DELNORD & O'Coffee" />
    <meta name="creator" content="Joseph DELNORD & O'Coffee" />
    <meta name="description" content="La boutique de oCoffee des frères Pepper, spécialistes du café à Hauts-de-Cloques" />
    <meta name="robots" content="all" />
    <meta name="keywords" content="O'Coffee catalog coffee Joseph DELNORD " />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Title -->
    <title>O'Coffee</title>

    <!-- Scripts -->

    <script defer src="../js/header.js"></script>

    <!-- feuilles de style -->

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/layout.css" />
