<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <%- include('partials/head') %> 

    <%- include('partials/head') %>
    
    <link rel="stylesheet" href="/css/404.css">
  </head>

  
  <body>
  <%- include('partials/header') %> 

  <div class="page">
    <section class="error">
      <div>
        <img
          src="/images/four.jpg"
          alt="number four"
        />
      </div>
      <div>
        <img
          src="/images/zero.jpg"
          alt="number four"
        />
      </div>
      <div>
        <img
          src="/images/four.jpg"
          alt="number four"
        />
      </div>
    </section>
    <h1>Oops, cette page n'existe pas !</h1>
    <p>
      Retournez à <a href="/">l'accueil</a> pour déguster un bon
      café.
    </p>
  </div>


<%-include('partials/footer') %>
</body>
</html>